main{
    margin: -16px 0px;
}



/* phần đầu của main */
.bg{
    background-image: url("D:/PROJECT-GROUP-8/Project/images/muabandat/cau-di-bo-ninh-kieu-lung-linh-anh-den-ve-dem-tren-dat-tay-do-2-1649262876.jpg");
    background-size: 100%;
    padding-bottom: 30px;
    padding-bottom: 500px;
}
.margin20px, .margin20px a{
    margin-left: 20px;
    margin-top: 30px;
    font-size: 25px;
    color:#eee;
}
.margin20px span{
    font-style:oblique;
    font-size: 30px;
}
.margintop{
    margin-top: 300px;
}
.padding{
    padding:10px;
    padding-bottom: 20px;
}
div a{
    text-decoration: none;
    color: black;
}
div a:hover{
    color: #FF6699 ;
}
.page{
    margin-bottom: 30px;
}


/* card */
.card{
    margin: 30px;
    padding: 20px;
}
/* lưới của card */
.grid{
    display: flex;
    text-align: center;
    margin-bottom: 30px;
}
.shadow {
    border: 1px solid #eee;
    box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
}
/* mác bán đất */
.box{
    top: 700px;
    left: 20px;
    position: absolute;
    z-index: 9;
}
.ban{
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    color: rgb(14, 46, 255);
    padding: 4px 32px;
    font-size: 20px;
}
/* phần lưới card */
.box-show-container .box-container-inner.grid-auto {
    grid-template-columns: 1fr 1fr 1fr;
}
.box-show-container .box-container-inner {
    grid-gap: 20px;
    display: grid;
    align-items: center;
}


/* phần bên phải wed */
.right{
    float: right;
    padding-top: 3px;
    border-radius: 5px;
    margin-right: 20px;
}
.float:hover{
    border-color: black ;
    border-width: 3px;
}


/* font-title */
h1{
    font-size: 100px;
    text-align: center;
    font-style: oblique;
}


/* nút trở về đầu trang */
.back{
    text-align: center;
    width: 125px;
    right: 10px;
    padding: 10px;
    bottom: 5px;
    position: fixed;
}