.news-title {
  display: block;
  font-size: 20px;
  color: #222;
  font-weight: 700;
  margin: 10px 0;
}

img.banner {
  height: 400px;
  object-fit: cover;
  max-width: 100%;
}

@media screen and (max-width: 992px) {
  img.banner {
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  img.banner {
    height: 170px;
  }
}

@media screen and (max-width: 576px) {
  .icons-list {
    display: none;
  }
}
